In [1]:
#Applying Jaccard similarity measure on movie names.
import pandas as pd
def tokenize(s):
    s = '##' + s + '##'
    length = 3
    tokens = []
    for i in range(len(s) - length + 1):
        tokens.append(s[i:i+length])
    return tokens

def jaccard_similarity(x,y):  
    intersection_cardinality = len(set.intersection(*[set(x), set(y)]))
    union_cardinality = len(set.union(*[set(x), set(y)]))
    return intersection_cardinality/float(union_cardinality)

df = pd.read_csv('MoviesMatching_apply_rules_ds')
df_tableA = pd.read_csv('IMDB')
df_tableB = pd.read_csv('Metacritic')
print(len(df))
indexes = []
for index, row in df.iterrows():
    try:
        a = df_tableA.iloc[row['A_id']]['Name'] 
        b = df_tableB.iloc[row['B_id']]['Name']
        jac_measure = jaccard_similarity(tokenize(a), tokenize(b))
        if jac_measure < 0.2 :
            indexes.append(index)
    except:
        pass


print(len(indexes));
df2 = df.drop(df.index[indexes]);

print(len(df2))

2997152
2984885
12267

In [2]:
indexes2 = []
for index, row in df2.iterrows():
    try:
        a = df_tableA.iloc[row['A_id']]['Name'] 
        b = df_tableB.iloc[row['B_id']]['Name']
        jac_measure = jaccard_similarity(tokenize(a), tokenize(b))
        if jac_measure < 0.3 :
            indexes2.append(index)
    except:
        pass
df3 = df2.drop(df.index[indexes2]);
print(len(df3))

2029

In [3]:
df3.to_csv('candidate_set_after_blocking', index = False)

In [7]:
df4 = pd.DataFrame(columns=['A_id','A_name','A_year','B_id','B_name','B_year'])
for index, row in df3.iterrows():
    try:
        a = df_tableA.iloc[row['A_id']]['Name'] 
        b = df_tableB.iloc[row['B_id']]['Name']
        c = df_tableA.iloc[row['A_id']]['Year'] 
        d = df_tableB.iloc[row['B_id']]['Year']
        df4 = df4.append({
         "A_id": row['A_id'],
         "A_name":  a,
         "A_year": c,
         "B_id": row['B_id'],
         "B_name": b,
         "B_year": d
      }, ignore_index=True)
    except:
        pass
print(df4.head())

   A_id              A_name A_year  B_id                 B_name  B_year
0  1010       Adventureland   2009  1713          Adventureland  2009.0
1  1019  The Man from Earth   2007   687  The Salt of the Earth  2015.0
2   104        Transformers   2007  2487             Transpecos  2016.0
3  1058                Antz   1998  2630                   Antz  1998.0
4  1061        The Punisher   2004  1973              The Boxer  1997.0

In [10]:
print(len(df4))
df5 = df4.sample(400)
print(df5.head())
df5.to_csv('to_be_labeled_2', index=False)

2029
      A_id           A_name A_year  B_id           B_name  B_year
1834    52  The Truman Show   1998   194  The Truman Show  1998.0
827   1821     Out of Sight   1998   551     Out of Sight  1998.0
1734  2830          Head-On   2004  1379          Head-On  2005.0
885   2025  The Fisher King   1991  2889      The Falling  2015.0
236   2057    The Last Song   2010   926    The Levelling  2017.0

In [2]:
df6 = pd.read_csv('to_be_labeled')
df7 = df6.drop(columns=['A_name','A_year','B_name','B_year'])
df7.to_csv('Labeled_final', index=False)